body {
	background-color: #7F7F7F;
	text-align: center;
	font-family: verdana;
}

.democontainer,
canvas {
	margin: 20px auto;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #333;
	display: block;
}

.democontainer {
    	position: relative;
    	width: 400px;
    	height: 400px;
}

a {
    color: #AAA;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.title {
	font-weight: bolder;
	font-size: 30px;
	text-shadow: 2px 2px 10px #000;
	color: #AAA;
}

.hidden {
	display: none;
}
